<md-sidenav-container fullscreen [class.m2app-dark]="isDarkTheme">
  <md-sidenav color="primary" #sidenav mode="push" class="app-sidenav">
      <md-nav-list (click)="sidenav.close()"> 
        <a md-list-item routerLink="/home" routerLinkActive="active-link"> 
          Home
        </a>
        <a md-list-item routerLink="/my-pea" routerLinkActive="active-link"> 
          My Pea
        </a>
        <md-divider></md-divider>
        <a md-list-item routerLink="/profile" routerLinkActive="active-link"> 
          Profile
        </a>
        <a md-list-item routerLink="/settings" routerLinkActive="active-link">
          Settings
        </a>
      </md-nav-list>
  </md-sidenav>
  
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    EnergyActive
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
    <md-icon>account_circle</md-icon>
  </md-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>