<md-sidenav-layout fullscreen>

  <md-sidenav #sidenav mode="push" class="app-sidenav">
      <md-nav-list (click)="sidenav.close()"> 
        <a md-list-item routerLink="/energy-usage" routerLinkActive="md-list-item-focus">
          Energy usage
        </a>
        <a md-list-item routerLink="/green-score" routerLinkActive="md-list-item-focus">
          Green Score
        </a>
      </md-nav-list>
  </md-sidenav>
  
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    EnergyActive
  </md-toolbar>

 <div class="app-content">
  <router-outlet></router-outlet>
</div>


</md-sidenav-layout>
